.fleet {
  position: relative;
  width: 100%;
  padding: 4rem 2rem;
  background: linear-gradient(to bottom, #ADDEED, #6D9ECC);
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  z-index: 0;
}

.fleet-header {
  font-size: 2.8rem;
  font-weight: 700;
  color: #002244;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}


.fleet-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.fleet-item.reverse {
  flex-direction: row-reverse;
}

.fleet-image {
  flex: 1 1 300px;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.fleet-info {
  flex: 1 1 300px;
  color: #002b5c;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.fleet-info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fleet-info p {
  font-size: 1.1rem;
  line-height: 1.6;
}
