.footer {
  background: linear-gradient(to bottom, #215C96, #002953);
  color: #ffffff;
  padding: 2rem 1rem 1rem;
  font-size: 1.4rem;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 1rem;
  color: #8DA7CB;
}

.footer-section p,
.footer-section li,
.footer-section a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #aaa;
}

.footer-section a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #fff;
}
